# Quick analysis

In [1]:
## Import libraries

%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import numpy as np
from datetime import date, datetime
from IPython.display import display, Markdown

In [2]:
# import data

#df = pd.read_csv("../output/input.csv")
df = pd.read_feather("../output/input.feather")
#df["hospital_admission_date"] = df["hospital_admission_date"].fillna("1900-01-01")

maxdate = df["hospital_admission_date"].max()
print(maxdate)

2022-03-22

In [4]:
df1 = df.loc[df["outpatient_covid_therapeutic_date"] <= maxdate]
treatments = {"MABs":['sotrovimab', 'casirivimab and imdevimab'],
       "Antivirals":['paxlovid', 'remdesivir', 'molnupiravir']}

for t in treatments:
    df_t = df1.loc[df1["outpatient_covid_therapeutic_name"].isin(treatments[t])]
    summary1 = pd.DataFrame(df_t[["outpatient_covid_therapeutic_date", "sus_treatment_date",
                            "hospital_admission_date","hospital_admission_x892_date","hospital_admission_x292_date",
                            "hospital_attendance_date"]].count()).rename(columns={0:"count"})
    summary1["percent"] = (100*(summary1["count"]/summary1["count"]["outpatient_covid_therapeutic_date"])).fillna(0).round(2).astype(int)
    display(Markdown(f"### {t}"), summary1)

### MABs

                                   count  percent
outpatient_covid_therapeutic_date    250      100
sus_treatment_date                    27       10
hospital_admission_date              250      100
hospital_admission_x892_date          13        5
hospital_admission_x292_date           9        3
hospital_attendance_date              13        5

### Antivirals

                                   count  percent
outpatient_covid_therapeutic_date    388      100
sus_treatment_date                    39       10
hospital_admission_date              388      100
hospital_admission_x892_date          17        4
hospital_admission_x292_date          23        5
hospital_attendance_date              20        5

## Breakdown by region and age group

In [5]:
# mabs only
df_m = df1.loc[df1["outpatient_covid_therapeutic_name"].isin(treatments["MABs"])]

for col in ["region_covid_therapeutics","age_group"]:
    summary2 = pd.DataFrame(df_m.groupby(col)\
               [["outpatient_covid_therapeutic_date","sus_treatment_date"]].count()).rename(columns={0:"count"})
    summary2["percent"] = (100*summary2["sus_treatment_date"]/summary2["outpatient_covid_therapeutic_date"]).fillna(0).round(2).astype(int)
    display(summary2)

,outpatient_covid_therapeutic_date,sus_treatment_date,percent
region_covid_therapeutics,,,
East,17,2,11
East Midlands,27,1,3
London,52,7,13
North East,26,2,7
North West,27,3,11
South East,29,2,6
South West,41,7,17
West Midlands,18,2,11
Yorkshire and The Humber,13,1,7

           outpatient_covid_therapeutic_date  sus_treatment_date  percent
age_group
12-24                                     27                   1        3
25-34                                     22                   4       18
35-44                                     44                   5       11
45-54                                     56                   9       16
55-64                                     25                   2        8
65-74                                     23                   2        8
75+                                       22                   2        9
missing                                   31                   2        6